.vs
.idea
*.user
Library
obj
bin
Logs
packages/Flee*
packages/System.*
packages/*Fody*
packages/Microsoft*
packages/Aspect*

#Implementations
Bezanyi*
TurtleGraphicsCode/Rules/*.cs
*Ignored*
/packages/Igor.Configuration*
/packages/Igor.Controls*
/packages/Igor.Models*
/packages/Igor.Localization*
/packages/Microsoft.CSharp*
